version: '3.3'

services:
  app:
    build: .
    ports:
      - "${PORT:-8888}:${PORT:-8888}" 
    environment:
      - ENV_VAR=value
      - PORT=8888
    volumes:
      - .:/data
    command: ["sh", "-c", "uvicorn app:app --host 0.0.0.0 --port ${PORT}"]
